@import url("https://fonts.googleapis.com/css2?family=Acme&family=Cardo:wght@400;700&family=Cookie&family=Open+Sans:wght@300;400;500;600&family=Pacifico&family=Roboto:wght@100;300;400;500&display=swap");
/* 
font-family: 'Acme', sans-serif;
font-family: 'Cardo', serif;
font-family: 'Cookie', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#e3e, #1f4);
  /* background: url(https://unsplash.com/photos/HH4WBGNyltc); */
  margin: 20px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 4px;
  margin: 5px;
  width: 70px;
  border: 3px solid rgb(255, 89, 116);
  border-radius: 4px;
}
.big-text {
  font-weight: normal;
  font-size: 50px;
}
